{% extends 'base.html' %}
{% block title %}
  To Do List
{% endblock %}
{% block page_heading%}
  TO DO LIST
{% endblock %}
{% block content %}
 <form class="form-inline" action="{{ url_for('home')}}" method="post">
    <input class="form-control form-control-lg" type="text" name="title" id="To_do_item" placeholder="What do you have to do">
    <button type="submit" class="btn btn-primary">Add</button>
  </form>
<table class="table table-hover table-dark">
        <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">What you need to do</th>
                <th scope="col">Time</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            <!-- Your rows inside the table HERE: -->
            {% for item in items%}
                <tr>
                    <td>{{ item.task }}</td>
                    <td>{{ item.Time }}</td>
                    <td>
                        {% if item.active%}
                        <form class="form-inline" action="{{ url_for('home')}}" method="post">
                        <button class="btn btn-outline btn-info" type="submit" value="Done">Mark as Done</button>
                        <button type="button" class="btn btn-dark" type="submit" value="Edit">Edit</button>
                        <button class="btn btn-outline btn-success" type="submit" value="Delete">Delete</button>
                        </form>
                        {% else %}
                        <button class="btn btn-outline btn-info">Mark as Done</button>
                        <button class="btn btn-outline btn-success">Delete</button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}