{% extends 'base.html' %}
{% block title %}
  To Do List
{% endblock %}
{% block page_heading%}
  TO DO LIST
{% endblock %}
{% block content %}
<!--form to add the new item in the list-->
<style>
form-inline{
  text-align: center;
}
</style>
<br>
<center>
<form class="form-inline" action="{{ url_for('home')}}" method="post">
    <input class="form-control form-control-lg" type="text" name="title" id="To_do_item" placeholder="What do you have to do">
    <button type="submit" class="btn btn-primary">Add</button>
</form>
</center>
<br>
<table class="table table-hover table-dark">
        <thead>
            <tr>
                <!-- Columns names are HERE -->
                <th scope="col">Status</th>
                <th scope="col">What you need to do</th>
                <th scope="col">Time</th>
            </tr>
        </thead>
        <tbody>
            <!-- Your rows inside the table HERE: -->
            {% for item in items%}
                <tr>
                    {% if item.active%}
                        <td>Incomplete</td>
                        <td>{{ item.task }}</td>
                        <td>{{ item.Time }}</td>
                        <td>
                            <a href="{{ url_for('home')}}/?cngstat={{item.id}}">
                            <button class="btn btn-outline btn-info">Mark as Done</button></a>
                            <button class="btn btn-outline btn-success">Delete</button>                                
                        </td>
                    {% else %}
                        <td>Done</td>
                        <td>{{ item.task }}</td>
                        <td>{{ item.Time }}</td>
                        <td>
                        <button class="btn btn-outline btn-success">Delete</button>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}