<!--extending the base template-->
{% extends 'base.html' %}
<!-- page title-->
{% block title %}
  Weather App
{% endblock %}
{% block page_heading%}
  Weather App
  <!--Page heading-->
{% endblock %}
{% block content %}
<!--form to add the new item in the list-->
<br>
<div class="Form_container">
</div>
<div class="flex">
    <div class="input-group">
        <form class="form" action="{{ url_for('home')}}" method="post">
            <input class="form-control" type="text" name="city" id="City" placeholder="Enter the name of the city whose weather you wanted to find out">
        </form>
        <div>
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
</div>
<br>

<h1>{{ city }}</h1>
<h2>{{temp}}</h2>
{% endblock %}
{% block style %}
    <!--Style block-->
    <style>        
        .input-group{
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-around;
        }
        .form{
            width: max-content;
            padding: 0px;
        }
        .form-control{
            width: 280%;
            height: 10%;
        }
        .input-group{
            margin:auto;
            width:75%;
        }
    </style>
{% endblock %}